{{ define "title" }}
  {{ .Title }} : {{ $.Site.Title }}
{{ end }}

{{ define "subheader" }}
  {{ partial "macros/_subheader.html" .Title }}
{{ end }}

{{ define "main" }}
  <div class="row">
    {{ partial "site-sidebar.html" . }}

    {{ if .Params.showsidebar }}
    <section id="main" class="medium-8 medium-pull-4 large-9 large-pull-3 columns archives" role="main">
    {{ else }}
    <section id="main" class="twelve columns archives" role="main">
    {{ end }}
      <article>
        {{ .Content }}
      </article>
    </section>
  </div>
{{ end }}
