{{ define "title" }}
  {{ .Title }} | {{ $.Site.Title }}
{{ end }}

{{ define "subheader" }}
  {{ partial "macros/_subheader.html" .Title }}
{{ end }}

{{ define "main" }}
  <div class="row">
    <section id="sidebar" class="medium-4 medium-push-8 large-3 large-push-9 columns">
      <section>
        <nav>
          <ul>
            {{ range $key, $value := .Data.Terms }}
              <li><a href="#{{ $key }}">{{ $key }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </section>
    </section>

    <section id="main" class="h-feed medium-8 medium-pull-4 large-9 large-pull-3 columns archives" role="main">
      {{ range $term, $pages := .Data.Terms }}
        {{ $count := (len $pages) }}
        <div class="row">
          <div class="small-12 medium-4 columns">
            {{ $url := (delimit (slice $.Site.LanguagePrefix $.Data.Plural ($term | urlize)) "/" ) }}
            <h2><a href="{{ $url }}" name="{{ $term | urlize }}">{{ $term }}</a></h2>
          </div>
          <div class="small-12 medium-8 columns">
            {{ range $pages }}
              <article class="h-entry row">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 MST" }}" pubdate=""></time>
                {{ with (default .Site.Author.name .Params.author) }}
                  <div class="p-author" style="display: none">{{ . }}</div>
                {{ end }}
                <div class="medium-2 small-3 columns post-date">
                  {{ .Date.Format "2006" }}<br/>
                  {{ .Date.Format "02 Jan" }}
                </div>
                <div class="medium-10 small-9 columns">
                  <h1><a class="u-url p-name" href="{{ .URL }}">{{ .Title }}</a></h1>
                  {{ if not .Params.nodescription }}
                  {{ with .Description }}<p class="p-summary">{{ markdownify . }}</p>{{ end }}
                  {{ end }}
                      </div>
              </article>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
