{{ $renderContext := .Scratch.Get "renderContext" }}

<div class="h-entry row">
  {{ partial "post-info" . }}
  <article class="post-content medium-9 large-10 columns">
    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 MST" }}" pubdate=""></time>
    {{ partial "post-author" . }}
    <!-- {{ printf "%#v" .Kind }} -->
    <!-- {{ printf "full_view renderContext %#v" $renderContext }} -->
    <header>
      <h1>
        {{ $link := (.Params.link) }}
        <a class="p-name" href="{{ if $link }}{{ $link }}{{ else }}{{ .URL }}{{ end }}">{{ .Title }}</a> {{ if $link }}<span class="arrow">→</span>{{ end }}
      </h1>
    </header>
    {{ if (and .Params.teaser .Truncated (eq $renderContext "home")) }}
      <div class="p-summary">
        {{ .Summary }}
        <a href="{{ .URL }}" class="button">Read more →</a>
      </div>
    {{ else }}
      <div class="e-content">
        {{ .Content }}
      </div>
    {{ end }}

    {{ partial "post-paginator.html" . }}
  </article>
</div>

{{ if (ne $renderContext "home") }}
  {{ if (and $.Site.Params.theme.comments.enabled (in $.Site.Params.theme.comments.types .Type)) }}
    <div id="comments" class="row">
      <section class="medium-10 medium-offset-2 columns">
      {{ if ne $.Site.Params.theme.comments.provider "intensedebate" }}
        <header>
          <h1>Comments</h1>
        </header>
      {{ end }}
      {{ partial "_comments.html" . }}
      </section>
    </div>
  {{ end }}
{{ end }}
