{{ if (eq $.Site.Params.theme.comments.provider "disqus") }}
  {{ partial "_disqus.html" . }}
{{ else if (eq $.Site.Params.theme.comments.provider "intensedebate") }}
  <!-- INTENSE DEBATE -->
  <script>
    var idcomments_acct = '{{ $.Site.Params.theme.comments.account }}';
    var idcomments_post_id = '{{ .URL }}';
    var idcomments_post_url = '{{ .Permalink }}';

  </script>
  <span id="IDCommentsPostTitle" style="display:none;"></span>
  <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
{{ end }}
