{{ if .Params.hidesidebar }}
<section id="main" class="h-feed twelve columns archives" role="main">
{{ else }}
<section id="main" class="h-feed medium-8 medium-pull-4 large-9 large-pull-3 columns archives" role="main">
{{ end }}
<!-- <section id="main" class="medium-8 medium-pull-4 large-9 large-pull-3 columns archives" role="main"> -->
{{ range .Pages.GroupByDate "2006" "desc" }}
  <div class="row">
    <div class="small-12 medium-2 columns">
      <h2><a name="{{ .Key }}"></a>{{ .Key }}</h2>
    </div>
    <div class="small-12 medium-10 columns">
      {{ range .Pages.ByDate.Reverse }}
        <article class="h-entry row">
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 MST" }}" pubdate=""></time>
          {{ partial "post-author" . }}
          <div class="medium-2 small-3 columns post-date">
            {{ .Date.Format "02 Jan" }}
          </div>
          <div class="medium-10 small-9 columns">
            <h1><a class="u-url p-name" href="{{ .URL }}">{{ .Title }}</a></h1>
            {{ if not .Params.nodescription }}
            {{ with .Description }}<p class="p-summary">{{ markdownify . }}</p>{{ end }}
            {{ end }}
          </div>
        </article>
      {{ end }}
    </div>
  </div>
{{ end }}
</section>
