<div class="row">
  {{ partial "site-sidebar.html" . }}

  {{ if .Params.hidesidebar }}
  <section id="main" class="twelve columns archives" role="main">
  {{ else }}
  <section id="main" class="medium-8 medium-pull-4 large-9 large-pull-3 columns archives" role="main">
  {{ end }}
    <article class="h-entry">
      <!-- Added for h-entry microformat only -->
      <a class="u-url p-name" href="{{ .URL }}" style="display: none">{{ .Title }}</a>
      {{ partial "post-author" . }}
      <div class="e-content">
        {{ .Content }}
      </div>
    </article>
  </section>
</div>
