<div class="row">
  <div class="small-12 columns post-links">
    <ul class="row">
      <li class="small-12 medium-6 columns text-left">
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.URL }}">← {{ .PrevInSection.Title }}</a>
        {{ else }} &nbsp; {{ end }}
      </li>
      <li class="small-12 medium-6 columns text-right">
        {{ if .NextInSection }}
        <a href="{{ .NextInSection.URL }}">{{ .NextInSection.Title }} →</a>
        {{ else }} &nbsp; {{ end }}
      </li>
    </ul>
  </div>
</div>
