{{ if (not .Params.hidesidebar) }}
<section id="sidebar" class="medium-4 medium-push-8 large-3 large-push-9 columns">
  <section>
    <div>
      <p class="hide-on-phones">
        {{ if .Params.sidebartop }}
          {{ .Params.sidebartop | markdownify }}
        {{ else }}
          {{ partial "site-sidebar-top.html" . }}
        {{ end }}
      </p>
      <hr class="hide-on-phones" />
      <nav>
        {{ if .Params.sidebarmiddle }}
          {{ .Params.sidebarmiddle | markdownify }}
        {{ else }}
          {{ partial "site-sidebar-middle.html" . }}
        {{ end }}
      </nav>
      <hr class="hide-on-phones" />
      {{ if .Params.sidebarbottom }}
        {{ .Params.sidebarbottom | markdownify }}
      {{ else }}
        {{ partial "site-sidebar-bottom.html" . }}
      {{ end }}
    </div>
  </section>
  {{ partial "_search.html" . }}
</section>
{{ end }}
