{{ define "main" }}
<div class="row">
  {{ partial "site-sidebar.html" . }}

  <section id="main" class="medium-8 medium-pull-4 large-9 large-pull-3 columns" role="main">
    <div class="h-feed posts">
      <!-- {{ range first 3 (where .Data.Pages "Section" "posts") }}
        {{ partial "post-content.html" (dict "context" . "is_list_page" true) }}
      {{ end }} -->
      {{ range .Paginator.Pages }}
        {{ partial "post-content.html" (dict "context" . "is_list_page" true) }}
      {{ end }}
    </div>
    <div class="row archives">
      <div class="small-12 columns post-links">
        <ul class="row">
          <li class="small-6 medium-4 columns text-left">
            {{ if .Paginator.Next }}
              <a href="{{ .Paginator.Next.URL }}">← older posts</a>
            {{ else }} &nbsp; {{ end }}
          </li>
          <li class="small-6 medium-4 medium-push-4 columns text-right">
            {{ if .Paginator.Prev }}
              <a href="{{ .Paginator.Prev.URL }}">newer posts →</a>
            {{ else }} &nbsp; {{ end }}
          </li>
          <li class="small-12 medium-4 medium-pull-4 small-centered columns text-center">
            {{ range .Site.Menus.footer }}
              <a href="{{ .URL }}"> &ndash; {{ .Name }} &ndash; </a>
            {{ end }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
{{ end }}
