{{ define "title" }}
  {{ .Section }} : {{ $.Site.Title }}
{{ end }}

{{ define "subheader" }}
  {{ partial "taxonomy-subheader.html" .Section }}
{{ end }}

{{ define "main" }}
  <div class="row">
    {{ partial "site-sidebar.html" . }}

    <section id="main" class="medium-8 medium-pull-4 large-9 large-pull-3 columns" role="main">
      <ul>
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Taxonomy.Alphabetical }}
          <li><a href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> {{ $value.Count }} </li>
        {{ end }}
    </ul>
    </section>
  </div>
{{ end }}
